# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Visual_labs\visual_lab3_18b1num0742_Controller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
