# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Visual_labs\Zeeliin hvv bodoh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
